{% extends 'main.html' %}
{% block title %}Downloaded Files{% endblock %}
{% block content %}
<h1 class="mt-5 mb-4">Video Files</h1>
<div class="row">
    {% for video_file in video_files %}
    <div class="col-md-6 mb-4">
        <div class="card shadow">
            {% if video_file.mode == "Parking" %}
            <div class="card-header text-center bg-info">
                <span class="text-center">🅿️ Parking Mode</span>
            </div>
            {% else%}
            <div class="card-header text-center bg-primary">
                <span class="text-center">🚗 Driving Mode</span>
            </div>
            {% endif %}
            <div class="row g-0">
                <div class="col-md-6">
                    <video width="100%" controls="false" preload="metadata" poster="{{ hostname }}/thumbnails/{{ video_file.thumbnail }}">
                        <source src="{{ hostname }}/locked/{{ video_file.filename }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{ video_file.name }}</h5>
                        <p class="card-text">

                            <table>
                                <tr><th>{{ video_file.location }}</th></tr>
                                <tr><th>{{ video_file.number }}</th></tr>
                                <tr>
                                    <th>
                                        <button type="button" class="btn btn-success"><a href="/locked/{{ video_file.filename }}" style="color: white" download><i class="fas fa-save"></i>Download</a></button>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ video_file.number }}"><i class="fas fa-trash"></i> Delete</button>
                                    </th>
                                </tr>
                            </table>
                            <!-- Delete Confirmation Modal -->
                            <div class="modal fade delete-modal" id="deleteModal-{{ video_file.number }}">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-danger fw-bold">Delete Video Clip</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you would like to delete "{{ video_file.filename }}"?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="button" class="btn btn-danger" onclick="deleteFile('{{ video_file.filename }}')"><i class="fas fa-trash"></i> Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    <script>
        function deleteFile(filename) {
            fetch('/api/storage/delete', {
                method: 'DELETE',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ 'filename': filename })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message || data.error);
                location.reload();
            })
            .catch(error => console.error('Error:', error));      
        }
    </script>
</div>

{% if total_items > per_page %}
<nav aria-label="Page navigation" style="background-color: #333; color: #fff;">
    <ul class="pagination justify-content-center">
        {% if has_prev %}
            <li class="page-item"><a class="page-link" style="color: #fff;" href="?page={{ page - 1 }}">Previous</a></li>
        {% endif %}
        {% for num in range(1, (total_items // per_page) + 2) %}
            {% if num == page %}
                <li class="page-item active" aria-current="page" style="background-color: #555;"><span class="page-link">{{ num }}</span></li>
            {% else %}
                <li class="page-item"><a class="page-link" style="color: #fff;" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if has_next %}
            <li class="page-item"><a class="page-link" style="color: #fff;" href="?page={{ page + 1 }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% else %}
<b>There is only 1 page 😊</b>
{% endif %}

{% endblock %}
