server {
        listen {{ dashy_proxy_port }} default_server{% if ssl_enabled %}ssl{% endif %};

        server_name _;

        {% if ssl_enabled %}
        ssl_certificate {{ ssl_cert_path }};
        ssl_certificate_key {{ ssl_key_path }};
        {% endif %}

        location / {
                proxy_pass http://localhost:{{ dashy_port }};
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
        }
        location /locked {
                alias /opt/dashy/videos/locked;
                autoindex on;
                autoindex_exact_size off;
                autoindex_localtime on;
        }
        location /thumbnails {
                alias /opt/dashy/videos/thumbnails;
                autoindex on;
                autoindex_exact_size off;
                autoindex_localtime on;
        }
}
server {
    listen {{cam_proxy_port}} default_server{% if ssl_enabled %} ssl {% endif %};
    {% if ssl_enabled %}
    ssl_certificate {{ ssl_cert_path }};
    ssl_certificate_key {{ ssl_key_path }};
    {% endif %}

    server_name _;
    location / {
                proxy_pass http://{{ cam_ip }}:{{cam_port}};
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
        }
}